@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%; 
    font-family: "Rubik", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: red;
    color: #fff;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: aqua;
    margin-bottom: 1rem;
}

#new-form-task {
    display: flex;
}

input, button {
   border: none;
   outline: none;
   background: none;
}

#new-task-input{
    width: 200%;
    flex: 1 1 0%;
    background-color: orange;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: gray;
    font-size: 1.25rem;
}

#new-task-input::placeholder {
    color: gray;
}

#new-task-submit {
    color: pink;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: linear-gradient(to right , rgb(189, 20, 48), rgb(98, 0, 255)); 
    cursor: pointer;
}

#new-task-submit:hover { 
    opacity: 0.8;
}

#new-task-submit:active { 
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}


.task-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: aqua;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

#tasks {
    display: flex;
    justify-content: space-between;
    /* background-color: green; */
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    
}

.task-text {
    color: #fff;
    font-size: 1.125rem;
    width: 100%;
}

.task-text:not(:read-only) {
    color: blueviolet;
}

.actions button{
  color: #fff;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
}
.actions button.edit {
    margin-right: 1rem;
    color: #fff;
    font-size: 1.5rem;
}

.actions button.delete {
    font-size: 1.5rem;
    color: red;
}

